{% extends 'main.html' %}

{% block content  %}
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <!-- <a class="backButton" href="#"><i class="im im-angle-left"></i></a> -->
            <br>

            <form class="form" method="POST" action = "">
              {% csrf_token %}
              <p>Are you sure you want to delete "{{object0}}"</p>

              <a class="btn btn--sub btn--lg  my-md" href="{% url 'account' %}">Go Back</a>

              <input class="btn btn--sub btn--lg  my-md" type="submit" value="Confirm" />
            </form>
        </div>
    </div>
</main>
{% endblock %}
